/*
Owen Dunn
Style for personal website.
*/

/* 
Increase consistancy between different browsers. Also fixes some problems with
various browsers
github.com/necolas/normalize.css 
*/
@import url("normalize.css") layer(normalize);

/* Fonts */
/* 
Work Sans font from Google Fonts. It was converted to woff & woff2 with:
https://www.fontsquirrel.com/tools/webfont-generator.
*/
@font-face {
    font-family: 'work-sans-regular';
    src: url('./fonts/worksans-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/worksans-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* || General page styles */

/* Color scheme 1: Gruvbox dark */
/* bright: */
/* black:   '#928374' */
/* red:     '#fb4934' */
/* green:   '#b8bb26' */
/* yellow:  '#fabd2f' */
/* blue:    '#83a598' */
/* magenta: '#d3869b' */
/* cyan:    '#8ec07c' */
/* white:   '#ebdbb2' */
/* normal: */
/* black:   '#282828' */
/* red:     '#cc241d' */
/* green:   '#98971a' */
/* yellow:  '#d79921' */
/* blue:    '#458588' */
/* magenta: '#b16286' */
/* cyan:    '#689d6a' */
/* white:   '#a89984' */
/* dim: */
/* black:   '#32302f' */
/* red:     '#9d0006' */
/* green:   '#79740e' */
/* yellow:  '#b57614' */
/* blue:    '#076678' */
/* magenta: '#8f3f71' */
/* cyan:    '#427b58' */
/* white:   '#928374' */

/* Color scheme 2: light TODO */

html {
    font-size: 16px;
    /* using dark mode - add option to read browser settings for colors? */
    background: #282828;
    /* background: #32302f; */ /* soft contrast */
    color: #ebdbb2;
    max-width: 1000px;
    /* Center entire page */
    margin: 0 auto;
}

h1 {
    font-size: 2rem;
    color: #ebdbb2;
}

h2 {
    font-size: 1.5rem;
    margin: 1.25rem;
    color: #689d6a;
}

p {
    font-size: 1rem;
}

a {
    color: #458588;
}

a:active {
    color: #cc241d;
}

h1, h2 {
    text-align: center;
}

/* || Layout */
/* || header */
header {
    text-align: center;
    background: linear-gradient(180deg, rgba(215,153,33,1) 0%, rgba(69,133,136,1) 50%, rgba(177,98,134,1) 100%);
    text-shadow: 1px 1px 1px black;
    padding: 10px 0;
}

/* || nav */
/* nav {

} */

nav ul {  /* sticky might be good */
    display: flex;
    align-items: center;
    gap: 1%;
    font-family: sans-serif;
    padding: 0;  /* Remove list padding */
}

nav li {
    flex: 1 9.375rem;
    list-style-type: none;
    font-size: 1.25rem; /* 16px * 1.25 = 20px */
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    line-height: 2;  /* 1.25 * font-size = 40px */
    background: #458588;
    border: 1px solid #076678;
    border-radius: 5px;
    text-shadow: 2px 2px 2px black;
    /* 3D box effect */
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.3) 30% 100%);
    box-shadow: 3px 3px 10px black,
    -3px -3px 5px rgba(0, 0, 0, 0.7) inset,
    3px 3px 5px rgba(255, 255, 255, 0.7) inset;
}

/* nav li a { */

/* } */

nav li a:link {  /* don't change if not a link */
    color: #ebdbb2;
    /* color: #a89984; */
    /* Make whole box a link - padding not needed? */
    display: block; /* Background area to be clicked */
    /* padding: auto; */
    /* padding: 0 20px; */  /* left/right padding */
    text-decoration: none;
    border-radius: 5px;
}

/* nav li a:visited { */

/* } */

nav li a:visited {
    color: #ebdbb2;
    background: #cc241d;
    border: 1px solid #9d0006;
    /* 3D box effect - pushed down, box pops inward */
    background-image: linear-gradient(to top left, rgba(0,0,0,0), rgba(0,0,0,0.3) 30% 100%);
    box-shadow: 3px 3px 5px black,
    -5px -5px 5px rgba(255, 255, 255, 0.7) inset,
    5px 5px 5px rgba(0, 0, 0, 0.7) inset;
}

/* nav li a:focus { */

/* } */

/* nav li a:hover { */

/* } */

nav li a:focus,
nav li a:hover {
    background: #458588;
    /* 3D box effect - box hovers up a bit more */
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.3) 30% 100%);
    box-shadow: 5px 5px 30px black,
    -5px -5px 5px rgba(0, 0, 0, 0.7) inset,
    5px 5px 5px rgba(255, 255, 255, 0.7) inset;
}

nav li a:active {
    background: #cc241d;
    border: 1px solid #9d0006;
    /* 3D box effect - pushed down, box pops inward */
    background-image: linear-gradient(to top left, rgba(0,0,0,0), rgba(0,0,0,0.3) 30% 100%);
    box-shadow: 3px 3px 5px black,
    -5px -5px 5px rgba(255, 255, 255, 0.7) inset,
    5px 5px 5px rgba(0, 0, 0, 0.7) inset;
}

/* || footer */
/* footer {
    TODO - Center
} */

/* || section */
/* || article */

/* || Resume 
font: 10-12 pt (13-16px) for normal text, 14-16 pt (19-22px) for headings and titles
TODO add a custom font

ANCI Letter sized:
    width: 8.5in;
    height: 11in;
    margin: 0.5in 0.5in; 
*/

.resume {
    background: white;
    color: black;
    /* ANCI Letter sized (2 pages) */
    width: 8.5in;
    /* height: 22in; */
    margin: 0 auto;
    font-family: 'work-sans-regular', serif;
}

.resume p {
    /* font-size: 0.875rem; */
    font-size: 0.9375rem;
}

.resume-p-emphasis {
    font-weight: bold;
}

.resume h1,
.resume h2,
.resume h3 {
    margin: 0;
    padding: 0;
    color: black;
}

.resume h1 {
    font-size: 2rem;
}

.resume h2 {
    font-size: 1.375rem; /* 22px for 16pxrem */
}

/* .resume h3 {
    font-size: 1.5rem;
} */

.resume-p1,
.resume-p2 { /* Page 1, 2 of resume */
    display: grid;
    grid-template-columns: repeat(16, minmax(0, 1fr));
    grid-template-rows: repeat(21, minmax(0, 1fr));
    /* gap: 10px; */
    /* ANCI Letter sized */
    /* width: 8.5in; */
    height: 11in;
    /* margin: 0.5in 0.5in 0.5in 0.5in; */
    /* margin-bottom: 0.5in;   */
    margin: 0;
    padding: 0.5in 0.5in 0.5in 0.5in;
    /* padding-bottom: 0; */
}

/* .resume-p1 { */
/*     margin-bottom: 10px; */
/* } */

/* Remove margin after resume before footer of web page. */
.resume-p2 {
    margin-bottom: 0in;
}

.resume-inner {
    padding: 10px 0 10px 10px; /* No padding on right */
}

.resume-outer {
    padding: 10px 10px 10px 0; /* No padding on left */
}

.resume-header {
    grid-column: 1 / 17;
    grid-row: 1 / 4;
    border-bottom: solid 1px black;
}

.resume-header ul {
    /* float: right; */
    display: flex;
    /* padding-left: 2rem; */
    padding-left: 0;
    list-style-type: none;
    /* Flexbox properties */
    justify-content: space-around;
}

.resume-header li {
    /* font-size: 0.9375rem; */
    padding-left: 1.5rem;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 1.5rem auto;
    line-height: 3;
}

.resume-header li:nth-child(1) {
    background-image: url('./media/phone.png');
}

.resume-header li:nth-child(2) {
    padding-left: 2rem;
    background-image: url('./media/email2.png');
}

.resume-header li:nth-child(3) {
    padding-left: 1.6rem;
    background-image: url('./media/location.png');
}

.resume-header li:nth-child(4) {
    padding-left: 1.75rem;
    background-image: url('./media/github.png');
}

.resume-header li:nth-child(5) {
    padding-left: 1.75rem;
    background-image: url('./media/linkedin.png');
}

/* .resume-inner ul, 
.resume-outer ul {
    list-style: none;
} */

.resume-inner ul {
    padding-left: 14px;
}

.resume-outer ul {
    padding-left: 12px;
}

.resume-outer li {
    /* font-size: 15px; */
    /* padding-left: 1.25rem; */
    background-position: 0 50%;
    background-repeat: no-repeat;
    line-height: 1.5;
}

/* .resume-inner li {

} */

.resume-education {
    grid-column: 1 / 4;
    grid-row: 4 / 11;
    border-right: 1px solid black;
    border-bottom: solid 1px black;
}

.resume-education p {
    font-size: 1rem;
}

.resume-objective {
    grid-column: 4 / 17;
    grid-row: 4 / 7;
    border-bottom: solid 1px black;
}

.resume-objective p {
    /* font-size: 0.9375rem; */
    font-size: 1rem;
}

.resume-experience {
    grid-column: 4 / 17;
    grid-row: 7 / 22;
}

/* .resume-experience li,
.resume-experience2 li {
    font-size: 1rem;
} */

.resume-experience h2 {
    margin-bottom: 1rem;
}

.resume-experience p,
.resume-experience2 p {
    font-size: 1rem;
}

/* .resume-software,
.resume-skills,
.resume-interests {

} */

/* .resume-software ul,
.resume-skills ul,
.resume-interests ul {

} */

.resume-languages {
    grid-column: 1 / 4;
    grid-row: 11 / 22;
    border-right: 1px solid black;
    border-bottom: solid 1px black;
}

.resume-languages h2 {
    font-size: 1.3rem;
}

.resume-languages p {
    margin: 1rem 0;
}

.resume-languages ul {
    list-style: none;
    background-position: 0 50%;
    padding-left: 0;
}

.resume-languages li {
    padding-left: 1.75rem;
    background-repeat: no-repeat;
    /* background-size: contain;  */
    background-size: 1.5rem auto; 
    font-size: 1.2rem;
    /* line-height: 1.75; */
    line-height: 2;
}

.resume-python {
    background-image: url('./media/python.png');
}

.resume-java {
    /* padding-left: 1.25rem; */
    background-image: url('./media/java.png');
}

.resume-cpp {
    /* padding-left: 1.25rem; */
    background-image: url('./media/cplusplus.png');
}

.resume-kotlin {
    /* padding-left: 1.25rem; */
    background-image: url('./media/kotlin.png');
}

.resume-html {
    /* padding-left: 1.25rem; */
    background-image: url('./media/html5-no-text.png');
}

.resume-javascript {
    /* padding-left: 1.25rem; */
    background-image: url('./media/javascript.png');
}

.resume-php {
    /* padding-left: 1.25rem; */
    background-image: url('./media/php-oval.png');

}
.resume-sql {
    /* padding-left: 1.25rem; */
    background-image: url('./media/database.png');
}

.resume-csharp {
    /* padding-left: 1.25rem; */
    background-image: url('./media/c-sharp.png');
}

.resume-matlab {
    /* padding-left: 1.25rem; */
    background-image: url('./media/matlab.png');
}

/* Resume page 2 */

.resume-experience2 {
    grid-column: 4 / 17;
    grid-row: 1 / 13;
    padding-top: 10px;
}

/* .resume-experience2 p  {
    font-size: 1rem;
} */

.resume-software li,
.resume-skills li,
.resume-interests li {
    /* font-size: 0.875rem; */
    /* font-size: 0.9375rem; */
    font-size: 1rem;
}

.resume-software {
    grid-column: 1 / 4;
    grid-row: 1 / 11;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.resume-software ul {
    list-style: none;
    background-position: 0 50%;
    padding-left: 0;
}

.resume-software li {
    padding-left: 1.75rem;
    background-repeat: no-repeat;
    background-size: 1.5rem auto; 
    line-height: 1.6;
}

.resume-android {
    /* padding-left: 1.25rem; */
    background-image: url('./media/android-head.png');
}

.resume .resume-git {
    /* padding-left: 1.25rem; */
    background-size: 1.4rem auto; 
    background-image: url('./media/git.png');
}

.resume-jetbrains {
    /* padding-left: 1.25rem; */
    background-image: url('./media/pycharm.png');
}

.resume-linux {
    /* padding-left: 1.25rem; */
    background-image: url('./media/tux.png');
}

.resume-shell {
    /* padding-left: 1.25rem; */
    background-image: url('./media/bash-shell.png');
}

.resume-solidworks {
    /* padding-left: 1.25rem; */
    background-image: url('./media/solidworks.png');
}

.resume-vim {
    /* padding-left: 1.25rem; */
    background-image: url('./media/vim.png');
}

.resume-vscode {
    /* padding-left: 1.25rem; */
    background-image: url('./media/visual-studio.png');
}

.resume-wordpress {
    /* padding-left: 1.25rem; */
    background-image: url('./media/wordpress.png');
}

.resume-skills {
    grid-column: 1 / 4;
    grid-row: 11 / 18;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.resume-skills li {
    /* font-size: 0.875rem; */
    /* font-size: 0.9375rem; */
    font-size: 0.906rem;
}

.resume-interests {
    grid-column: 1 / 4;
    grid-row: 18 / 22;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.resume-interests li {
    font-size: 0.9375rem;
}

.resume-references {
    grid-column: 4 / 17;
    grid-row: 13 / 22;
    border-top: 1px solid black;
}

.resume-references p {
    font-size: 1rem;
}

.resume-references ul {
    display: flex;
    padding-left: 0;
    list-style-type: none;
    justify-content: flex-start;
    gap: 10px;
}

.resume-references li {
    /* font-size: 0.875rem; */
    font-size: 1rem;
    padding-left: 1.5rem;
    background-position: 0 50%;
    background-repeat: no-repeat;
    background-size: 1.5rem auto;
    line-height: 1.75;
}

.resume-references li:nth-child(1) {
    /* padding-left: 1.5rem; */
    background-image: url('./media/phone.png');
}

.resume-references li:nth-child(2) {
    padding-left: 2rem;
    background-image: url('./media/email2.png');
}
